*{
   
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}



.MainCartContainer {
   
   width: 1500px;
   padding: 400px;
    padding-top: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 0px;
   width: 100vh;
}

.AddedItemContainer{
   
   display: flex;
   flex-direction: column;
   justify-content: center;
    margin: 30px;
    width: 500px;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.testCart {
    background-color: #292929;
    color: white   ;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.OneItem{
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 500px;
   background-color: #D9D9D9;
}

.DeleteButton {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: brown;
    display: flex;
    justify-content: center;
    
    color: #D9D9D9;

}

.cart-empty-div{
    width: 500px;
}

#cart-is-empty{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

#your-order{
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
}
.row{
    display: grid;
}
hr {
    width: 500px;
    margin-top: 0px;
    margin-bottom: 15px;
}

#hr-item{
    color: lightgray;
}

.PayButton{
    height: 50px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #DE6E22;
    border-color: whitesmoke;
    
    
 
}
.AddItem{
    
  
    gap: 70px  ;
    
}

h2, h4 {
    color: #292929;
  
}

h2{
    font-size: 20px;  
    font-weight: lighter;
}

h4{
    font-weight:normal;
    font-size: 15px;
}

h3{
    
    color: black;
    margin-top: 30px;
    font-weight: bold
    
    
}

#h44{
    margin-left: 10px;
    font-style: italic;
    
    
}

#h22{
    font-style: italic;
}

